.grid-ab {
  color: var(--primary-color-dark);
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 3.1rem;
}

.grid-ab p {
  margin-bottom: 1.5rem;
}

.grid-ab p a {
  color: var(--sec-color);
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(8.75rem, 12.5rem));
  gap: 0 0.625rem;
  padding: 0;
  margin: 1.25rem 0 0;
  overflow: hidden;
  list-style: none;
  margin-bottom: 4rem;
}

ul.skills-list li {
  position: relative;
  /* margin-bottom: 0.625rem; */
  padding-left: 2rem;
  font-family: var(--font-mono);
  font-size: 0.8125rem;
  display: flex;
  align-items: center;
}

ul.skills-list li::before {
  content: '</>';
  position: absolute;
  left: 0px;
  color: var(--sec-color);
  line-height: 0.75rem;
}

.profile-img-container {
  position: relative;
  max-width: 18.75rem;
}

.profile-img {
  position: relative;
  width: 100%;
  height: 18.75rem;
  max-height: 18.75rem;
  border: 1px solid transparent;
  border-radius: 0.7rem;
  background-image: url('profile.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
  z-index: 1;
  overflow: hidden;
  font-size: 0.75rem;
  font-weight: 600;
}

.profile-img-container .profile-img-frame {
  position: absolute;
  width: 100%;
  /* max-width: 18.75rem; */
  height: 100%;
  /* max-height: 18.2rem; */
  border: 1px solid var(--sec-color);
  border-radius: 0.7rem;
  z-index: -1;
  top: 6%;
  left: 7%;
  transition: 0.3s;
}

.profile-img-container:hover .profile-img-frame {
  transform: scale(1.05);
  filter: contrast(120%);
}

.profile-img:hover,
.profile-img:hover {
  transform: scale(1.05);
  filter: contrast(120%);
}

.profile-img .tag-name,
.profile-img .tag-occupation {
  position: absolute;
  right: 0;
  padding: 0.6rem 1rem;
  /* border-radius: 0.5rem 0 0 0.5rem; */
}

.profile-img .tag-name {
  bottom: 45px;
  color: var(--primary-color);
  background-color: var(--primary-bg);
  right: -1000%;
  transform: skew(-5deg);
  transition: 0.3s;
  z-index: 3;
}

.profile-img .tag-occupation {
  bottom: 15px;
  background-color: var(--sec-color);
  font-family: var(--font-mono);
  color: var(--primary-bg);
  right: -1000%;
  transform: skew(-5deg);
  transition: 0.3s;
  z-index: 2;
}

.profile-img:hover .tag-name,
.profile-img:hover .tag-occupation {
  right: -2%;
}

.profile-img .tag-occupation::before {
  content: '<>';
  margin-right: 0.3rem;
  color: var(--primary-color-dark);
}

.profile-img .tag-occupation::after {
  content: '</>';
  margin-left: 0.3rem;
  color: var(--primary-color-dark);
}
