#home div{
  animation: fadeInUp 0.9s ease-in both;
}

#home div:nth-child(1) {
  animation-delay: 0.9s;
}
#home div:nth-child(2) {
  animation-delay: 1s;
}
#home div:nth-child(3) {
  animation-delay: 1.1s;
}
#home div:nth-child(4) {
  animation-delay: 1.2s;
}
#home div:nth-child(5) {
  animation-delay: 1.3s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}