@import './tailwind.css';
@import './home.css';

:root {
  --primary-color: #ccd6f6;
  --primary-color-dark: #94a3b8;

  --sec-color-light: #99f6e4;
  --sec-color: #5eead4;
  --sec-color-dark: #14b8a6;

  --primary-bg: #2a303c;
  --primary-bg-light: hsl(220, 18%, 30%);
  --primary-bg-dark: hsl(220, 18%, 17%);

  --sec-bg: #134e4a;

  --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

  --animation: fadeIn 0.3s ease-in both;

  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;

  color: var(--primary-color);
  background-color: var(--primary-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.primary-bg {
  background-color: var(--primary-bg) !important;
}

.sec-bg {
  background-color: var(--sec-bg) !important;
}

.primary-color {
  color: var(--primary-color) !important;
}

.primary-color-dark {
  color: var(--primary-color-dark) !important;
}

.sec-color {
  color: var(--sec-color) !important;
}

.sec-color-light {
  color: var(--sec-color-light) !important;
}

.sec-color-dark {
  color: var(--sec-color-dark);
}

.navbar,
.font--mono {
  font-family: var(--font-mono) !important;
}

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  width: 100%;
}

main {
  padding: 0 9.6875rem;
  width: 100%;
}

a {
  color: var(--sec-color);
}

a:hover {
  color: var(--sec-color-dark) !important;
  cursor: pointer;
}

.icon {
  color: var(--primary-color) !important;
}

.icon a {
  color: var(--primary-color) !important;
}

.icon a:hover {
  color: var(--sec-color) !important;
}

.underline {
  position: relative;
  text-decoration: none;
  width: 100%;
}

.underline:hover {
  color: var(--sec-color) !important;
}

.underline:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.15rem;
  bottom: 0;
  left: 0;
  background: var(--sec-color-light);
  visibility: hidden;
  border-radius: 1rem;
  transform: scaleX(0);
  transition: 0.25s linear;
}

.underline:hover:before {
  visibility: visible !important;
  transform: scaleX(1) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.1;
}

h3 a,
h4 a,
.navbar li a {
  color: var(--primary-color) !important;
  text-decoration: none;
}

#fixed-button {
  background-color: rgba(42, 42, 42, 0.5);
  border: transparent;
}

.fixed-button {
  display: inherit !important;
}

.section {
  margin: 0 auto;
  max-width: 62.5rem;
  padding: 100px 0;
}

.section-hidden {
  visibility: hidden;
  /* opacity: 0; */
}

.section-active {
  /* opacity: 1; */
  /* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); */
  /* transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, */
  /* transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s; */
  animation: fadeIn 0.4s ease-in both;
  animation-delay: 0.4s;
}

.numbered-header::after {
  content: '';
  display: block;
  position: relative;
  width: 20rem;
  height: 0.1rem;
  margin-left: 1.2rem;
  background-color: var(--primary-color);
}

.btn-teal {
  background-color: transparent;
  color: var(--sec-color);
  border-color: var(--sec-color);
  text-transform: capitalize;
}

.btn-teal:hover {
  background-color: var(--sec-bg);
  color: var(--sec-color);
  border-color: var(--sec-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 3px solid var(--primary-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-bg);
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1080px) {
  main {
    padding: 0 6rem;
  }

  .numbered-header::after {
    width: 12.5rem;
  }

  .grid-wo .project-content {
    grid-column: 1 / 9;
  }

  .grid-wo:nth-of-type(2n + 1) .project-content {
    grid-column: 5 / -1;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0 3.125rem;
  }

  .numbered-header::after {
    width: 100%;
  }

  .grid-ab {
    display: block;
  }

  .grid-ab .profile-img-container {
    margin: 3.2rem auto 0px;
    width: 70%;
  }

  .grid-wo:last-of-type {
    box-shadow: 0 0.625rem 1.875rem -0.9375rem var(--navy-shadow);
  }

  .grid-wo:not(:last-of-type) {
    margin-bottom: 70px;
  }

  .grid-wo .project-content {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    height: 100%;
    grid-column: 1 / -1;
    padding: 2.5rem 2.5rem 1.875rem;
    z-index: 5;
  }

  .grid-wo:nth-of-type(2n + 1) .project-content {
    grid-column: 1 / -1;
    padding: 2.5rem 2.5rem 1.875rem;
    text-align: left;
  }

  .grid-wo .project-content .project-description {
    padding: 1.25rem 0px;
    padding-left: 8px;
    background-color: transparent;
    box-shadow: none;
  }

  .grid-wo .project-content .project-keywords {
    justify-content: flex-start !important;
  }

  .grid-wo .project-image-wrapper {
    grid-column: 1 / -1;
    opacity: 0.25;
  }

  .grid-wo:nth-of-type(2n + 1) .project-image-wrapper {
    grid-column: 1 / -1;
  }

  .grid-wo .project-image-wrapper .project-image img {
    height: 100%;
    width: 100%;
  }

  .section {
    padding: 80px 0px;
  }
}

@media (max-width: 600px) {
  .numbered-header::after {
    margin-left: 0.625rem;
  }

  .grid-ex {
    display: block;
  }

  .grid-ex .tabs {
    flex-direction: row !important;
    flex-wrap: nowrap;
    margin-bottom: 2.5rem;
    width: calc(100% + 100px);
    overflow-x: auto;
    text-align: center;
  }

  .grid-ex .tab {
    border-left: none !important;
    border-bottom: 0.2rem solid var(--primary-bg-light) !important;
    min-width: 100px;
    padding: 0 0.85rem !important;
    justify-content: center !important;
  }

  .grid-ex .tab--active {
    border-bottom: 0.2rem solid var(--sec-color) !important;
  }

  .grid-wo .project-content {
    padding: 1.875rem 1.5625rem 1.25rem;
  }
}

@media (max-width: 480px) {
  main {
    padding: 0px 1.5625rem;
  }

  .numbered-header::after {
    margin-left: 0.625rem;
  }

  .grid-ab .profile-img-container {
    width: 90%;
  }

  .profile-img-container .profile-img-frame {
    left: 12%;
  }

  .grid-ex .tabs {
    width: calc(100% + 50px);
  }

  .grid-wo .project-content {
    padding: 1.875rem 1.5625rem 1.25rem;
  }

  .grid-wo .project-image-wrapper {
    height: 100%;
  }

  .section {
    padding: 60px 0px;
  }
}

@media (max-width: 360px) {
  ul.skills-list {
    display: block !important;
  }
}
