@import './tailwind.css';
@import './mediaqueries.css';
@import './navbar.css';
@import './home.css';

:root {
  --primary-color: #ccd6f6;
  --sec-color-light: #99f6e4;
  --sec-color: #5eead4;
  --sec-color-dark: #14b8a6;
  --primary-bg: #2a303c;
  --lightest-navy: #233554;

  --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

  --animation: fadeIn 0.3s ease-in both;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--primary-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.primary-bg {
  background-color: var(--primary-color);
}
.sec-color {
  color: var(--sec-color);
}

.sec-color-light {
  color: var(--sec-color-light);
}

.sec-color-dark {
  color: var(--sec-color-dark);
}

.navbar,
.font-mono {
  font-family: var(--font-mono);
}

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  padding: 0 9rem;
  margin: 0px auto;
  width: 100%;
  max-width: 1600px;
}

body a {
  color: var(--sec-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.1;
}

h3 a,
h4 a,
.navbar li a {
  color: var(--primary-color);
  text-decoration: none;
}

h3 a:hover,
h4 a:hover,
.navbar li a:hover {
  color: var(--sec-color-light);
}

h3 > a:before,
h4 > a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: var(--sec-color-light);
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.25s linear;
}

#fixed-button {
  background-color: rgba(42, 42, 42, 0.5);
  border: transparent;
}

.fixed-button {
  display: inherit !important;
}

.section {
  margin: 0 auto;
  max-width: 1000px;
}

.numbered-header::after {
  content: '';
  display: block;
  position: relative;
  width: 20rem;
  height: 0.1rem;
  margin-left: 1.2rem;
  background-color: var(--primary-color);
}

.btn-teal {
  background-color: transparent;
  color: var(--sec-color);
  border-color: var(--sec-color);
  text-transform: capitalize;
}

.btn-teal:hover {
  background-color: #134e4a;
  color: var(--sec-color);
  border-color: var(--sec-color);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 3px solid var(--primary-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-bg);
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
