@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ccd6f6;
  --primary-bg: #2a303c;
  --lightest-navy: #233554;

  --font-sans: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--primary-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}

.navbar,
.font-mono {
  font-family: var(--font-mono);
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.2s;
  background-color: rgba(42, 48, 60, 0.85);
}

.navbar-hiden {
  transform: translateY(calc(-1 * 5rem));
  box-shadow: none;
}

.navbar-boxshadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#fixed-button {
  background-color: rgba(42, 42, 42, 0.5);
  border: transparent;
}

.fixed-button {
  display: inherit !important;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border: 3px solid var(--primary-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-bg);
}

::selection {
  background-color: var(--lightest-navy);
  color: var(--lightest-slate);
}

.gradient-text {
  background: linear-gradient(90deg, var(--primary-color), #6ee7b7,#4338ca, var(--primary-color));
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
