.navbar li {
  animation: fadeInDown 0.3s ease-in both;
}

.navbar li:nth-child(1) {
  animation-delay: 0.3s;
}
.navbar li:nth-child(2) {
  animation-delay: 0.4s;
}
.navbar li:nth-child(3) {
  animation-delay: 0.5s;
}
.navbar li:nth-child(4) {
  animation-delay: 0.6s;
}
.navbar li:nth-child(5) {
  animation-delay: 0.7s;
}

.navbar li:hover a,
.drawer-side li:hover a {
  color: var(--sec-color) !important;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.2s;
  background-color: rgba(42, 48, 60, 0.85);
  backdrop-filter: blur(5px);
  z-index: 999;
}

.navbar-hiden {
  transform: translateY(calc(-1 * 6rem));
  box-shadow: none;
}

.navbar-boxshadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
